@import "styles/utils";

.btn {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.43;
  text-align: center;
  padding: 10px 0;
  color: $white-2;
  width: 206px;
  height: 20px;

  &.ghost {
    outline: 1px solid $gold;
    background-color: transparent;
    color: $gold;
  }

  &:hover {
    outline: 1px solid black;
  }
}
