@import "styles/utils";

.categories {
  margin: 50px auto;

  > div {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;

    @include breakpoint(md) {
      gap: 20px;
    }
  }
}
