@import "base";

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1110px;
  margin: auto;
}

.stretched-link::after {
  content: "";
  position: absolute;
  background-color: transparent;
  pointer-events: auto;
  inset: 0;
  z-index: 10;
}
