$breakpoints: (
  "sm": "640px",
  "md": "768px",
  "lg": "1024px",
  "xl": "1280px",
  "2xl": "1536px",
);

$white: #f9f9f9;
$white-2: #ffffff;
$white-3: #ecebe9;
$black: #303030;
$black-light: #5e5e5e;
$gray: #b2b2b2;
$gold: #cfb995;
$gold-2: #d0ba93;
$gold-light: #ffdf5b;
$danger: #ff5b5b;
$success: #57e690;
$success-pale: #8fe360;
$warning: #ff915b;
$warning-pale: #ffbe5b;
$info: #57dbe6;
$header-bg: #242424;
$header-height: 58.5px;
